################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/.vs/Sample/v15
/Sample/Sample/obj
/Sample/.vs/Sample/DesignTimeBuild
/Sample/Sample/bin/Debug/netcoreapp2.2
