################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/.vs/Sample/v15
/Sample/Sample/obj
/Sample/.vs/Sample/DesignTimeBuild
/Sample/Sample/bin/Debug/netcoreapp2.2
/Mvc_Start
/Sample/.vs/Sample/v16
/LoginDB/.vs/LoginDB
/LoginDB/bin/Debug/netcoreapp3.1
/LoginDB/obj
/LoginDB/Properties
