
@{
    ViewBag.Title = "INDEX PAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body style="background-image:url('../Images/back.jpg'); background-repeat:no-repeat;background-size:cover;">
        <div class="container">
            <div id="index">
                <h5 style="text-align:center; margin-top:4%;">INDEX PAGE! </h5>
            </div>
        </div>

        <div class="container">
            <div id="body">

            </div>
        </div>
    @*Third method to use partial views by including scripts to call partial view*@
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/jscript">
            $(document).ready(function () {
                $("#body").load('/home/GetBody');
            });
        </script>

    </body>
