@Model MvcCore_DB.Home

<h2>REGISTER</h2>
<div class="row">
    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="from-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="from-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div> 

