@model Mvc_CoreApplication.Models.Home

@{
	ViewData["Title"] = "Index";
}

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<p>Hello, world!</p>


@*@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
